body {
    width: 100%;
    background-image: url('./images/background.jpg');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100%;
    color: rgb(138, 120, 120);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#site-name{
    width: 50%;
    display: inline-block;
    float: left;
    padding-left: 100px;
}

.container{
    width: 30%;
    display: inline-block;
    float: left;
    margin-left: 120px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: right;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: right;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #f8aa01;
    transition: 1s;
  }